- name: update the packages
  hosts: all
  become: true
  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes
        upgrade: dist
      when: ansible_os_family == "Debian"

    - name: Install Nginx
      apt:
        name: nginx
        state: present
    
    - name: Start and enable Nginx service
      service:
        name: nginx
        state: started
        enabled: yes
    
    - name: Create a sample HTML file
      copy:
        dest: /var/www/html/index.html
        content: "<h1>Welcome to Nginx Server!</h1>"
        owner: www-data
        group: www-data
        mode: '0644'